/goods/.env
/goods/.gitignore
/goods/storage/framework/cache/
/goods/vendor/
/.gitignore
.gitignore

/laravel-admin/.env
/laravel-admin/.gitignore
/laravel-admin/storage/framework/cache/
/laravel-admin/vendor/

